  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  .login-box {
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: 100px;
  }

  nav {
    display: flex;
    padding: 4px;
    justify-content: space-between;
  }

  button {
    cursor: pointer;
    padding: 2px 8px;
  }
  