#root {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

@media (min-width: 481px) {
  #root {
    max-width: 800px;
    padding-left: 4rem;
    padding-right: 4rem;  
  }
}